.videoPlayer {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.videoControlsContainer {
  background-color: red;
  position: absolute;
  height: 10%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.5;
  /* Fix a bug in Chrome with the video drawing over sometimes */
  transform: translateZ(0);
}

.videoPlayPauseButton {
  background-color: green;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 4rem;
}

.videoTimeline {
  background-color: blue;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 90%;
}

.videoPosition {
  background-color: yellow;
  position: absolute;
  left: 0px;
  height: 100%;
}

.videoMarker {
  background-color: red;
  position: absolute;
  width: 1px;
  border: 5px solid red;
  height: 100%;
}