<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="shortcut icon" href="<%= require('./public/favicon.png').default %>">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta property="og:description" content="A stupid website for animating images on top of videos.">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://madeitfor.fun/" />
  <meta property="og:image"
    content="https://raw.githubusercontent.com/TrevorSundberg/madeitforfun/master/preview.gif" />
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      top: 0px;
      left: 0px;
      overflow: auto;
      background-color: black;
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>